body {
    background-color: lightgrey;
    font-family: 'Fresca', sans-serif;
}

h1 {
    color : black;
}

img {
    float : right;
    width : 110px;
    margin : 10px;
}

table {
    background-color : khaki;
    margin : 20px;
    position : relative;
}
